{% extends 'base.html' %}

{#
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Projet road-trip :-)</title>
    {% block css_files %}{% endblock %}
    {% block javascript_files %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>
#}